body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction:column;
}
a{
    color: black;
    text-decoration: none;
}
h1{
    transition: transform 2s;
    height: max-content;
    width:max-content;
}
h1:hover{
    transform: scale(5,5);
}